@page "/AddJob"
@using HCM.App.Components
@using Microsoft.AspNetCore.Authorization
@using HCM.App.Models
@using AutoMapper
@using HCM.Shared.Data.DTO

@attribute [Authorize]
@inject IHttpClientFactory HttpClientFactory
@inject IMapper Mapper

<PageTitle>Add Job</PageTitle>

<JobEdit JobViewModel="_job" OnModelUpdated="ConfirmUpdate"></JobEdit>

<ConfirmComponent ConfirmationChanged="ConfirmationResult" @ref="_confirmationDialog"></ConfirmComponent>

<p class="my-4">@_notify</p>

@code
{
    private readonly JobViewModel _job = new();

    private string? _notify;

    private ConfirmComponent? _confirmationDialog;

    private async Task<string?> CreateJobAsync()
    {
        var jobDto = Mapper.Map<JobDto>(_job);
        try
        {
            var response = await HttpClientFactory.CreateClient("Api").PostAsJsonAsync("/api/v1/Jobs", jobDto);
            response.EnsureSuccessStatusCode();
            return $"Job {jobDto.Title} created.";
        }
        catch (HttpRequestException e)
        {
            return e.Message;
        }
    }
    private void ConfirmUpdate()
    {
        _confirmationDialog?.Show("Confirm Job Creation", $"Job {_job?.Title} will be created");
    }
    private async void ConfirmationResult(bool confirmed)
    {
        _notify = confirmed ? await CreateJobAsync() : string.Empty;
        await InvokeAsync(StateHasChanged);
    }

}
