version: "3.9"
services:
  db:
    container_name: postgres-db
    environment:
      - POSTGRES_PASSWORD=zHBn!weo6U
    image: postgres:15
    networks:
      - hcm-net
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
  identityserver:
    container_name: identityserver
    build:
        context: .
        dockerfile: ./HCM.Auth/Dockerfile
    depends_on:
      - db
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet HCM.Auth.dll"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7000
      - ASPNETCORE_Kestrel__Certificates__Default__Password=U2Jw*nMyaW
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx
      - CONNECTIONSTRINGS__IDENTITY=Server=db;Port=5432;Database=identity;User Id=postgres;Password=zHBn!weo6U
      - CONNECTIONSTRINGS__IDENTITYSERVER=Server=db;Port=5432;Database=identityServer;User Id=postgres;Password=zHBn!weo6U
    networks:
      - hcm-net
    ports:
      - "7000:7000"
    volumes:
      - ./localhost.pfx:/https/localhost.pfx:ro
      - ./localhost.crt:/usr/local/share/ca-certificates/localhost.crt:ro
  api:
    container_name: api
    build:
        context: .
        dockerfile: ./HCM.Api/Dockerfile
    depends_on:
      - identityserver
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet HCM.Api.dll"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=U2Jw*nMyaW
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx
      - AUTHENTICATION__AUTHORITY=https://identityserver:7000
      - AUTHENTICATION__AUDIENCE=35b86a45-f9b4-43b2-b70b-8bec68c0e503
    networks:
      - hcm-net
    ports:
      - "7001:7001"
    volumes:
      - ./localhost.pfx:/https/localhost.pfx:ro
      - ./localhost.crt:/usr/local/share/ca-certificates/localhost.crt:ro
  consoleapplication:
    container_name: consoleapplication
    networks:
      - hcm-net
    build:
        context: .
        dockerfile: ./HCM.TestConsoleApp/Dockerfile
    depends_on:
      - api
      - identityserver
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet HCM.TestConsoleApp.dll"
    environment:
      - AUTHENTICATION__AUTHORITY=https://identityserver:7000
      - AUTHENTICATION__CLIENTID=b4c0b49b-e2f4-445a-9bc0-836bdca210dc
      - AUTHENTICATION__CLIENTSECRET=AeSrYw9#6t
    volumes:
      - ./localhost.crt:/usr/local/share/ca-certificates/localhost.crt:ro

volumes:
  db:
networks:
  hcm-net: {}