version: "3.9"
services:
  db:
    container_name: postgres-db
    environment:
      - POSTGRES_PASSWORD=zHBn!weo6U
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
  identityserver:
    container_name: identityserver
    build:
        context: .
        dockerfile: ./HCM.Auth/Dockerfile
    depends_on:
      - db
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet HCM.Auth.dll"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7000
      - ASPNETCORE_Kestrel__Certificates__Default__Password=U2Jw*nMyaW
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx
      - CONNECTIONSTRINGS__IDENTITY=Server=db;Port=5432;Database=identity;User Id=postgres;Password=zHBn!weo6U
      - CONNECTIONSTRINGS__IDENTITYSERVER=Server=db;Port=5432;Database=identityServer;User Id=postgres;Password=zHBn!weo6U
    ports:
      - "7000:7000"
    volumes:
      - ./localhost.pfx:/https/localhost.pfx:ro
      - ./localhost.crt:/usr/local/share/ca-certificates/localhost.crt:ro
  api:
    container_name: api
    build:
        context: .
        dockerfile: ./HCM.Api/Dockerfile
    depends_on:
      - identityserver
    entrypoint: /bin/sh -c "update-ca-certificates && dotnet HCM.Api.dll"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:7001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=U2Jw*nMyaW
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx
      - AUTHENTICATION__AUTHORITY=https://identityserver:7000
      - AUTHENTICATION__AUDIENCE=HCM.Api
      - CONNECTIONSTRINGS__HCMDB=Server=db;Port=5432;Database=hcm;User Id=postgres;Password=zHBn!weo6U
    ports:
      - "7001:7001"
    volumes:
      - ./localhost.pfx:/https/localhost.pfx:ro
      - ./localhost.crt:/usr/local/share/ca-certificates/localhost.crt:ro
  app:
    build:
      context: .
      dockerfile: ./HCM.App/Dockerfile
    depends_on:
      - api
      - identityserver
    ports:
      - "7003:7003"
    volumes:
      - ./nginx/ssl/:/etc/nginx/ssl/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./localhost.key:/etc/nginx/ssl/localhost.key:ro
      - ./localhost.crt:/etc/nginx/ssl/localhost.crt:ro
volumes:
  db:
