@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]


<PageTitle>Index</PageTitle>

<h1>Human Capital Management App</h1>


Hello, <br/> Welcome to Immedis Full-Stack Developer Task Solution.<br/>

Developed by Tsvetan Raykov (<a href="mailto:tsvetan.raykov@gmail.com">tsvetan.raykov@gmail.com</a>).
