@page "/ListEmployees"
@using HCM.App.Components
@using HCM.Shared.Data.DTO
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IHttpClientFactory HttpClientFactory


@if (_employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EmployeeList Employees="_employees?.AsQueryable()"></EmployeeList>
}

@code {

    private EmployeeDto[]? _employees;

    protected override async Task OnInitializedAsync()
    {
        _employees = await HttpClientFactory.CreateClient("Api").GetFromJsonAsync<EmployeeDto[]>("/api/v1/Employees");
    }

}